<!doctype html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="xeditable.min.css" />
    <script type="text/javascript" src="/homey.js" data-origin="settings"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.2.23/angular-mocks.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="xeditable.min.js"></script>
    <script type="text/javascript" src="suneventsApp.js"></script>
</head>

<body>
    <div ng-app="suneventsApp" ng-controller="mySunEvents" id="mysunevents">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#home" data-i18n="mysunevents"></a>
            </li>
            <li>
                <a data-toggle="tab" href="#menu1" data-i18n="eventTimes"></a>
            </li>
            <li>
                <a data-toggle="tab" href="#menu2" data-i18n="triggerTimes"></a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h3 data-i18n="mysunevents"></h3>
                <p data-i18n="personalEvents"></p>
                <table class="table table-bordered table-hover table-condensed">
                    <tr style="font-weight: bold">
                        <td style="width:25%" data-i18n="degrees"></td>
                        <td style="width:25%" data-i18n="riseName"></td>
                        <td style="width:25%" data-i18n="setName"></td>
                        <td style="width:25%" data-i18n="edit"></td>
                    </tr>
                    <tr ng-repeat="event in events">
                        <td>
                            <span editable-number="event.degrees" e-name="degrees" e-form="rowform" e-min="-90" e-max="90" onbeforesave="checkDegrees($data)" e-required>
                        {{ event.degrees }}
                        </span>
                        </td>
                        <td>
                            <span editable-text="event.riseName" e-name="riseName" e-form="rowform" onbeforesave="checkNotEmpty($data)" e-required>
                        {{ event.riseName }}
                        </span>
                        </td>
                        <td>
                            <span editable-text="event.setName" e-name="setName" e-form="rowform" onbeforesave="checkNotEmpty($data)" e-required>
                        {{ event.setName }}
                        </span>
                        </td>
                        <td style="white-space: nowrap">
                            <!-- form -->
                            <form editable-form name="rowform" onbeforesave="saveEvent($data, event.id)" onaftersave="sendToHomey(events)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == event">
                                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">{{ saveTxt }}</button>
                                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">{{ cancelTxt }}</button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                                <button class="btn btn-primary" ng-click="rowform.$show()"> {{ editTxt }}</button>
                                <button class="btn btn-danger" ng-click="removeEvent($index)">{{ delTxt }}</button>
                            </div>
                        </td>
                    </tr>
                </table>

                <button class="btn btn-default" ng-click="addEvent()" data-i18n="addRow"></button>
            </div>
            <div id="menu1" class="tab-pane fad">
                <h3 data-i18n="eventTimes"></h3>
                <p data-i18n="eventTimesIntro"></p>
                <table class="table table-bordered table-hover table-condensed">
                    <tr ng-repeat="(key,value) in myEventsTimes | orderObjectBy:'date':false">
                        <td><span>{{ value.date | date:'yyyy-MM-dd HH:mm:ss' }}</span></td>
                        <td><span>{{ value.name }}</span></td>
                    </tr>
                </table>
            </div>
            <div id="menu2" class="tab-pane fad">
                <h3 data-i18n="triggerTimes"></h3>
                <p data-i18n="triggerTimesIntro"></p>
                <table class="table table-bordered table-hover table-condensed">
                    <tr ng-repeat="(key,value) in myTriggerTimes | orderObjectBy:'date':false">
                        <td><span>{{ value.date | date:'yyyy-MM-dd HH:mm:ss' }}</span></td>
                        <td><span>{{ value.name }}</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script>
        // Initialize Homey
        function onHomeyReady( Homey ){
            Homey.ready();
            var scope = angular.element($("#mysunevents")).scope();
            console.log('SetHomey' + scope);
            scope.setHomey(Homey);
        }
    </script>
</body>

</html>